@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #6b2c5e;
  --color-primary-foreground: #ffffff;

  --color-secondary: #fdb931; /* Metallic Gold */
  --color-secondary-foreground: #000000;

  --color-accent: #f8fafc;
  --color-accent-foreground: #0f172a;

  --color-background: #ffffff;
  --color-foreground: #0f172a;

  --font-display: "Playfair Display", serif;
  --font-body: "Lora", serif;
  --font-san: "Quicksand", sans-serif;
}

:root {
  --font-display: "Playfair Display", serif;
  --font-body: "Lora", serif;
  --font-san: "Quicksand", sans-serif;
}

/* Premium Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #6b2c5e;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #551b48;
}

body {
  font-family: var(--font-body);
  background-color: var(--color-background);
  color: var(--color-foreground);
}

.dark body {
  --color-background: #0f172a; /* Slate 900 */
  --color-foreground: #f8fafc; /* Slate 50 */
}

/* Utility Classes for Fonts */
.font-display {
  font-family: var(--font-display);
}
.font-body {
  font-family: var(--font-body);
}
.font-san {
  font-family: var(--font-san);
}

.pattern-dots {
  background-image: radial-gradient(currentColor 1px, transparent 1px);
  background-size: 20px 20px;
}
